.slider-component {
  display: block;
  width: 300px;
  z-index: 1;

  @media (min-width: 768px) {
    width: 450px;
  }
  @media (min-width: 1024px) {
    width: 600px;
  }


  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 100;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
