.header {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 94px;
	border-bottom: 1px solid black;
	overflow: hidden;
	z-index: 10;
	background-color: rgb(250, 100, 100);

	&__logo {
		margin-left: 34px;
	}
}

.nav {
	&__list {
		max-width: 1200px;
		display: flex;
		flex: row;
		text-decoration: none;
		list-style: none;
		gap: 50px;
		position: relative;
	}

	&__link {
		text-decoration: none;
		color: black;
		padding: 0px 34px;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 800;
		letter-spacing: 0.04em;
		position: relative;

		transition: color 0.3s ease;

		&::after {
			content: '';
			position: absolute;
			bottom: -39px; /* Змінено */
			left: 0;
			height: 3px;
			width: 100%;

			transition: background-color 0.3s ease;
		}

		&--active {
			color: black;
			border-radius: 50%;

			&::after {
				background: black;
			}
		}

		&:hover {
			color: black;
		}
	}
}
