@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Montserrat:wght@300;400;700&display=swap');

.main {
  padding: 20px 0;
	background-color: #fff;
	min-height: calc(100vh - 230px);
}
